Pandas-Version 1.5.2

That's all you need. Also as mentioned in the code as well I wouldn't advise typing in the same keyword twice unless you've fixed that bug yourself.
If you're trying to, I wish you the best of luck.
